.video-js .vjs-dock-text {
    padding: 20% 20% 1em 20%;
    background: linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,.9) 50%,rgba(0,0,0,.7) 70%,transparent 100%);
    font-family: 'Open Sans',sans-serif;
}

.video-js .vjs-dock-title {
    white-space: pre-wrap;
    font-size: 18px;
}
.vjs-dock-description {
    display: none;
}

.video-js .vjs-dock-shelf, .video-js .vjs-dock-text {
    top: inherit;
    bottom: 0;
}

.vjs-big-play-button {
    background-color: transparent;
    left: 13% !important;
    top: inherit !important;
    margin-top: -.6em !important;
    bottom: -2px !important;
}

.vjs-icon-play:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before {
    content: url("http://frontend.coned.sandbox5.cliquedomains.com/images/icon-video-play.svg") !important;
}

.vjs-big-play-button {
    background-color: transparent;
}
